.cache/
node_modules/
docs/dist/
docs/build/
/build/
*.log
/src/
# Built files
/boxicons-regular/
/boxicons-solid/
/fa-brands/
/fa-regular/
/fa-solid/
/feather/
/material/
/octicons/
/ion-ios/
/ion-md/
/simpleIcons/
/public/
/index.d.ts
/index.cjs.js
/index.js
/createIcon.js
/createIcon.cjs.js
.vscode/
yarn.lock
/.docz/